<html>
<link rel="stylesheet" type="text/css" href="style.css" />
<head>
</head>
<body>
<div id=photos_panel>
{% if success_content %}
Clique na sua foto para baixar:<br><br>
<a  href='/photo?image_id={{success_content.image_id}}&image_db=ImageDb' target=#blank>
  <img 
    src='/photo?image_id={{success_content.image_id}}&image_db=ImageDb' width=200px></img>
</a>
{% else %}
<center>
<table>
  <tr>
   <td>
    <img  src='/label_example.jpeg' width=130px></img>
   </td>
   <td style='font-size: 40px' >+</td>
   <td>
    <img src='/antes.jpeg' width=70px>
   </td>
   <td style='font-size: 40px'>=</td>
   <td>
   <img src='/depois.jpeg' width=70px></img>
   </td>
</tr>
</table>
</center>
{% endif %}
</div> <!-- /photos_panel -->

<div id=main_panel >
  {% if error_message %}
  <div id=error_panel><b> {{ error_message }} </b> </div> 
  {% endif %}
  <form action="/dilmefiqueme" method="post"  enctype="multipart/form-data">
    <div id=label_list>
     {% for label in labels%}
      <div class=label_container>
        <input class=labelradio type=radio id='{{label.id}}' 
        name='label_name' value='{{label.id}}'>
        </input>
        <label for='{{label.id}}'>
        <img class=label src='/photo?image_id={{label.id}}&image_db=LabelsDb'
        width=200></img></label>
      </div>
     {% endfor %}
    </div>

 <div id=photo_button>
  <div class=fileselect>
  Selecione sua foto: <input type='file' name="source_image" size='32'/>
  </div>
  <div class=button>
  <input type="image" width=70px  src='/button.jpeg' value="Pronto!"/>
  </div>
  </div>
 </form>
 <div id=sugestoes>Reclamacoes, sugestoes e contribuicoes: <a
 href=mailto:ademirao@gmail.com>ademirao@gmail.com</a></div>
 </div>
</div>
</body>
</html>
