<html>
<link rel="stylesheet" type="text/css" href="style.css" />
<head>
</head>
<body>
<div id=photos_panel>
{% if success_content %}
Clique em sua foto para baixar: 
<table id=images_list><tr>
{% for image in success_content.images%}
  <td>
  <div class=image_container>
  <span class=photo_descr>{{image.image_descr }}</span><br>
  <a  href='/photo?image_id={{image.image_id}}&image_db=ImageDb' target=#blank>
   <img src='/photo?image_id={{image.image_id}}&image_db=ImageDb'
   width=200px></img>
  </a></div>
  </td>
{% endfor %} </tr>
</table>
{% endif %}
</div> <!-- /photos_panel -->

<div id=main_panel >

  {% if error_message %}
  <div id=error_panel><b> {{ error_message }} </b> </div> 
  {% endif %}
 <div >
 <form action="/legendame" method="post" enctype="multipart/form-data">
  <div class=fileselect>
  Selecione uma foto do seu computador:
  <br><br> <input type='file' name="source_image" size='32'/>
  </div>
  <div class=fileselect>
  Escolha uma legenda:<br><br>
    <div id=label_list>
     {% for label in labels%}
      <div class=label_container>
        <input class=labelradio type=radio id='{{label.id}}' 
        name='label_name' value='{{label.id}}'>
        </input>
        <label for='{{label.id}}'>
        <img class=label src='/photo?image_id={{label.id}}&image_db=LabelsDb'
        width=150px></img></label>
      </div>
     {% endfor %}
    </div>
  </div>
  
  <div class=fileselect>
  Clique para legendar:<br><br>
  <input type="image" src='/button.jpeg' value="Legenda-me!"/>
  </div>
 </form>
</div>
 </div>
<br>
<br>
 Contato: <a href=mailto:ademirao@gmail.com>ademirao@gmail.com</a>


</body>
</html>
