body {
  font-family: Helvetica,Arial,sans-serif;
}

#photos_panel {
  text-align: center;
  margin-left: 100px;
  margin-top: 21px;
  width: 810px;
}

img {
 border: 1px solid #999999;
}

#images_list {
  width: 300px;
  padding: 20px;
}

.image_container {
  font-size: small;
  background-color: #999999;
  color: #ffffff; 
  text-align: center;
  width: 205px;
}

#main_panel {
  margin: 100px;
  margin-top: 20px;
  font-size: small;
  padding: 3px;
width: 1024px;
}

#error_panel{
  margin: 10px;
  padding: 5px;
  background: #FFAAAA;
  border: 1px solid #999999;
  font-size: small
}

#label_list_container {
  width: 350px;
}

#label_list {
background: #f1f1f1;
  height: 100%;
  width: 400px;
  overflow: scroll; 
       border-radius:10px;
padding: 4px;
}

.label_container {

  position: relative;
  float: left;
  margin: 3px;
}

.label {
  border: 1px solid #999999;
  vertical-align: middle;
}

.labelradio {
  vertical-align: middle;
}

#photo_button{
  padding-left: 20px;
  padding-right: 20px;
}

.fileselect {
padding: 10px;
float: left;
border:1px solid #999999;
margin: 10px;
       border-radius:10px;
}
.button {
  text-align: right;
}
#sugestoes {
  font-size: small;
  text-align: right;
  padding: 4px;
width: 100%;
}
